* {
	margin: 0;
	padding: 0;
}
body {
	text-align: center;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 16px;
	background-color: #ECECEA;
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Century Gothic, sans-serif;

}


.wrapper{
	width: 1150px;
	position: relative;
	margin: 0 auto;
}

header {
	background-color: #333333;
	color: #FFFFFF;
	position: fixed;
	top: 0;
	height: 50px;
	width: 1150px;
	z-index: 5;
}
#logo-box {
	height: 0px;
	width: 180px;
	margin: 0 auto;
}
#logo {
	margin-top: -16px;
	width: 80%;
}

nav {
	font-family: Century Gothic, sans-serif;
	color: #FFFFFF;
	height: 30px;
	margin: 10px 20px;
}
nav ul.nav-left {
	float: left;
	list-style: none;
}

nav ul.nav-right {
	float: right;
	list-style: none;
}
nav ul li {
	float: left;
	height: 30px;
	line-height: 30px;
}

nav ul li a {
	text-decoration: none;
	color: white;
	padding: 5px 15px 5px 15px;
}

nav ul li a:hover {
	color: #D9411E;
}

.clear {
    clear: both;
}


.popupInfo {
	display: none;
	padding: 15px;
	width: 350px;
	background: #ecf0f1;
	float: left;
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 99999;
	box-shadow: 3px 3px 10px #333;
	-moz-box-shadow: 3px 3px 10px #333;
	-webkit-box-shadow: 3px 3px 10px #333;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

#mask {
	display: none;
	background: #000;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 88888;
	width: 100%;
	height: 100%;
	opacity: 0.7;
}

.popupInfo h2 {
	text-align: center;
	font-weight: 200;
	font-size: 1.5em;
	margin-top: 10px;
	color: #34495e;
}

.popupInfo form {
	padding-top: 20px;
}

.popupInfo form input[type="email"], .popupInfo form input[type="password"] {

	padding-left: 10px;
	border: 1px solid #bbb;
	font-size: 14px;
}


.popupInfo form input[type="email"], .popupInfo form input[type="password"],
	.popupInfo form input[type="submit"]{
	width: 80%;
	margin-bottom: 25px;
	height: 40px;
	border-radius: 5px;
	outline: 0;
}

.popupInfo form input[type="submit"]{
	background: #e74c3c;
	border: none;
	color: white;
	font-size: 18px;
	font-weight: 200;
	cursor: pointer;
	transition: box-shadow .4s ease;
}

.popupInfo form button {
	position: absolute;
	top: 10px;
	right: 5px;
	color: #e74c3c;
	border-radius: 4px;
	border: 1px;
	padding: 4px 6px;
	cursor: pointer;
	font-size: 20px;
}

.popupInfo form a {
	text-align: center;
	font-size: 10px;
	color: #3498db;
	padding-bottom: 10px;
}

.popupInfo:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: -webkit-linear-gradient(left, #333333 0%, #333333 20%, #E05151 20%, #E05151 40%, #D9411E 40%, #D9411E 60%, #FFD452 60%, #FFD452 80%, #75A3D1 80%, #75A3D1 100%);
  background: -moz-linear-gradient(left, #27ae60 0%, #27ae60 20%, #8e44ad 20%, #8e44ad 40%, #3498db 40%, #3498db 60%, #e74c3c 60%, #e74c3c 80%, #f1c40f 80%, #f1c40f 100%);
  height: 5px;
  border-radius: 5px 5px 0 0;
}



.slider {

	width: 1150px;
	height: 500px;
	overflow: hidden;
	margin: 30px auto;
}

.slider img {

	display: none;
	
}


.content {
	margin-top: 50px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

#intro-photo{
	width: 100%;
	height: auto;
}

.sign-form {
	display: inline-block;
	margin: 50px auto;
	width: 350px;
	padding: 25px;
	border: 1px solid #FFD452;
	font-size: 120%;
	border-radius: 10px;
	color: #333333;
}

.sign-form input[type=text], .sign-form input[type=email], .sign-form input[type=password], .sign-form select {
	width: 60%;
	padding-left: 10px;
	border: 1px solid #bbb;
	font-size: 14px;
	height: 35px;
	border-radius: 5px;
	margin: 10px auto;
	outline: 0;
}

.sign-form input[type=submit] {
	background: #FFD452;
	color: #333333;
	border: 1px;
	padding: 10px 25px;
	border-radius: 3px;
	margin-top: 20px;
	cursor: pointer;
}

.sign-form span {
	display:inline-block;
	width: 20%;
	font-size: 16px;
	text-align: right;
	padding-right: 10px;
}

.section-box section {
	position: relative;
	display: inline-block;
	width: 45%;
	margin-left: 2%;
	margin-right: 2%;
	margin-top: 20px;
	margin-bottom: 10px;
	border: 1px solid #bbb;
}

.section-box section img {
	width: 100%;
}

.col-3 {
	display: inline-block;
	width: 31%;
	height: 500px;
	vertical-align: top;
	margin: 20px 10px;
}

.col-3 img {
	width: 100%;
	height: auto;
	margin-top: 10px;
	margin-bottom: 10px;
}

.col-3 p {
	text-align: justify;
	margin: 20px auto;
}

.col-3 span {
	margin: 10px;
	font-family: Century Gothic, sans-serif;
	color: #333333;
	font-weight: 800;
	font-size: 17px;
}
.flip {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 15%;
	background: rgba(51, 51, 51, 0.7);
	color: white;
	font-size: 25px;
	font-family: Century Gothic, sans-serif;
}

.flip a {
	text-decoration: none;
	color: white;
}


#member-page {
	text-align: left;
	margin-top: 100px;
	margin-left: 20px;
	margin-bottom: 20px;
}

#member-page p {
	margin-top: 10px;
}

#member-page table {
	border-color: #dddddd;
	border-collapse: collapse;
	width:600px;
	border-spacing: 0;
	margin-top: 10px;
	text-align: center;
}
#member-page table tr {
	height: 25px;
}

#member-page table tr:first-of-type {
	font-weight: bold;
	background-color: #d9edf7;
}

#member-page a {
	text-decoration: none;
	color: #E05151;
}

footer {
	color: #333333;
	font-family: century gothic, sans serif;
	font-size: 90%;
	display: block;
	background-color: white;
	width: 100%;
    height: 70px;
    /*background-image: url(../images/footer_man.png);*/
    background-size: 100%;
	border-top: 2px solid #333333;
	border-bottom: 10px solid #333333;
}
footer ul {
	float: right;
}
footer ul li {
	float: left;
	padding: 5px 30px 5px 0px;
}

#footer-social {
	margin-top: 5px;
}

#social-logo{
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;

    -webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	
	width: 30px;
	height:30px;
}

#social-logo:hover {
	position: relative;
	top: -5px;
}