* {
	margin: 0;
	padding: 0;
}
body {
	text-align: center;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 16px;
	background-color: #ECECEA;
}
header {
	background-color: #74AFAD;
	color: #FFFFFF;
	position: fixed;
	top: 0;
	height: 60px;
	width: 100%;
	z-index: 5;
}
#logo-box {
	height: 0px;
	width: 180px;
	margin: 0 auto;
}
#logo {
	margin-top: -16px;
	width: 80%;
}

nav {
	font-family: Gotham;
	color: #FFFFFF;
	height: 30px;
	margin: 15px;
}
nav ul.nav-left {
	float: left;
	list-style: none;
}

nav ul.nav-right {
	float: right;
	list-style: none;
}
nav ul li {
	float: left;
	height: 30px;
	line-height: 30px;
}

nav ul li a {
	text-decoration: none;
	color: white;
	padding: 5px 15px 5px 15px;
}

nav ul li a:hover {
	color: black;
	background-color: white;
}
.clear {
    clear: both;
}

.container {
	margin-top: 60px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

#intro-photo{
	width: 100%;
	height: auto;
}

.sign-form {
	display: inline-block;
	margin: 50px auto;
	max-width: 600px;
	padding: 25px;
	border: 1px solid #D9853B;
	font-size: 120%;
}

.sign-form p {
	max-width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 25px;
}

.sign-form label {
	display: block;
	margin: 0px;
	height: 30px;
}

.sign-form label>span {
	width: 30%;
	float: left;
	text-align: right;
	padding-right: 20px;
	height: 30px;
	line-height: 30px;
}

.sign-form input[type=text], .sign-form input[type=email], .sign-form input[type=password]{
	width: 40%;
	height: 30px;
	float: left;
}

.sign-form input[type=submit] {
	background: #74AFAD;
	color: #FFFFFF;
	border: 1px solid #CCC;
	padding: 10px 25px;
	border-radius: 4px;
}

.section-box {
	text-align: center;
}
.section-box section{
	display: block;
	display: inline-block;
	width: 400px;
	height: 500px;
	border: solid #D9853B;
	margin: 4px 4px;
}

footer {
	font-size: 90%;
	display: block;
	background-color: #74AFAD;
	height: 80px;
	
	width: 100%;
    height: 100px;
    background-image: url(images/footer.png);
    background-size: 50% 100%;
}
footer ul {
	float: right;
}
footer ul li {
	float: left;
	padding: 5px 30px 5px 0px;
}

#footer-social {
	margin-top: 5px;
}

#social-logo{
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;

    -webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	
	width: 30px;
	height:30px;
}

#social-logo:hover {
	position: relative;
	top: -5px;
}