* {
	margin: 0;
	padding: 0;
}
body {
	text-align: center;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 16px;
}
ul {
	list-style: none;
}
#container {
	text-align: left;
	margin: 0 auto;
}
header {
	display: block;
	background-color: #74AFAD;
	color: #FFFFFF;
	position: fixed;
	top: 0;
	height: 80px;
	width: 100%;
	z-index: 5;
}

#top-nav {  
	position: absolute;
	right: 30px;
	top: 5px;
	font-size: 90%;
}

#top-nav li {display: inline;}

#top-nav li a {
	text-decoration: none;
	color: #FFFFFF;
}

#main-nav {
	font-family: Gotham;
	color: #FFFFFF;
}
	
#title-box {
	height: 50%;
}
nav {
	height: 50%;
}
nav ul {
	float: right;
	padding-right: 15px;
}
nav ul li {
	float: left;
}

nav ul li a {
	text-decoration: none;
	color: black;
	padding: 5px 15px 5px 15px;
}

nav ul li a:hover {
	background-color: white;
}
.clear {
    clear: both;
}

.container {
	margin-top: 80px;
	background-color: #74AFAD;
	color: #FFFFFF;
}

.signupbtn{
	background-image: url(../images/signup.jpg) no-repeat;
	
}

#intro-photo{
	width: 100%;
	height: auto;
}

footer {
	font-size: 90%;
	display: block;
	background-color: #74AFAD;
}
footer ul {
	float: right;
}
.section-box {
	text-align: center;
	background-color: #ECECEA;
}
.section-box section{
	display: block;
	display: inline-block;
	width: 400px;
	height: 500px;
	border: solid;
	margin: 4px 4px;
}
footer ul li {
	float: left;
	padding: 5px 30px 5px 0px;
}

#footer-social {
	margin-top: 20px;
}

#social-logo{
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;

    -webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	
	width: 40px;
	height:40px;
}

#social-logo:hover {
	position: relative;
	top: -5px;
}